{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
        
            <img class="bd-placeholder-img" width="100%" height="100%"  src="{{asset('assets/images/slide3.jpeg')}}" alt="">

            <div class="container">
            <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Some representative placeholder content for the first slide of the carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%"  src="{{asset('assets/images/slide2.jpg')}}" alt="">
            <div class="container">
            <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Some representative placeholder content for the second slide of the carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%"  src="{{asset('assets/images/slid1.jfif')}}" alt="">
            <div class="container">
            <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Some representative placeholder content for the third slide of this carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            </div>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </button>
    </div>

    <div class="container marketing">
        <h1 class="text-center">Dernières Lessons </h1>
        <!-- Three columns of text below the carousel -->
        <div class="row mt-4">
            {% for lesson in lessons %}
                <div class="col-lg-4">
                            <img class="card-img-top" src="https://media.lesechos.com/api/v1/images/view/5e567bc93e454673a56fed1f/1280x720/6130-1476355083-developpeur-fiche-metier.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_184f1008b10%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_184f1008b10%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71249771118164%22%20y%3D%22120.18000011444092%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">

                    <h2>{{lesson.name}}</h2>
                    <p> {{lesson.school.name}} </p>
                    <p><a class="btn btn-secondary" href="{{ path('app_lesson_detail', {'id': lesson.id}) }}">View details &raquo;</a></p>
                </div>
            {% endfor %}
        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{students[0].lastname}} <span class="text-muted">{{students[0].firstname}}.</span></h2>
                    <p class="lead">Inscrit le {{students[0].createdAt|date("d/m/Y", "Europe/Paris")}}.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://bootdey.com/img/Content/avatar/avatar7.png" width="300" height="300" ></svg>
                </div>
            </div>

            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://bootdey.com/img/Content/avatar/avatar7.png" width="300" height="300" ></svg>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{students[1].lastname}} <span class="text-muted">{{students[1].firstname}}.</span></h2>
                    <p class="lead">Inscrit le {{students[1].createdAt|date("d/m/Y", "Europe/Paris")}}.</p>
                </div>
            </div>

            <hr class="featurette-divider">

    </div>

{% endblock %}
